<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" verbose="2" parallel="none">

  <listeners>
    <listener class-name="base.TestNGInitListener"/>
    <listener class-name="utils.CustomHtmlReporter"/>
  </listeners>

  <!-- All tests run once -->
  <test name="AllTests" preserve-order="true">
    <packages>
      <package name="testing"/>
    </packages>
  </test>

</suite>